{% extends "base.html" %}
{% block customCSS %}
{% endblock %}
{% block contentWithContainer %}
<div class="starter-template">
  
  <h1>About</h1>
  <p class="lead">This is a testing tool for affective agent ecosystems. This software system
  was made as a part of a master's thesis on the subject. The thesis work was carried out by
  me, Magnús Snorri Bjarnason, and supervised by Joost Broekens. The resulting paper can be found
  <a href='http://repository.tudelft.nl/view/ir/uuid%3A1f8746a4-2f90-48ce-ab6f-e19fe143a95d/'>here</a>.</p>
  
</div>
{% endblock %} 
 